.Category{
    display: flex;
    flex-direction: column;
    
   /* aula 14*/
   min-width: 280px;
   max-width: 1200px;
   margin: 0 auto;
   align-items: center;
   

}

.Category div{
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    margin: 10px;
    /* aula 14*/
    width: 100%;
    right: 15px;
    align-items: center;

    
}