.header{
    background-color: #000000b7;
    border-bottom: 1px solid #f44336;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex; 
    padding: 1.1rem;
    align-items: center;
    justify-content: space-between; /*a logo vai pro lado esquerdo e os links para o lado direito*/ 
    z-index: 2;
}

.header span{

    font-size: 2.1rem;
    color:#b71c1c;
    font-weight: 700;

}

.header nav{
    margin-right: 1rem;

}



.header a {
    text-decoration: none;
    color: #fff;
    padding-inline: 0.5rem;
 
    
    
}

